<footer class="site-footer">
    <div class="shell site-footer__inner">
        {{- with .Site.Params.footer.copyright }}
        <p>{{ . | safeHTML }}</p>
        {{- end }}

        {{- with .Site.Params.social }}
        <div class="social-links">
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>

    {{- with .Site.Params.footer.bottomText }}
    <div class="shell site-footer__inner">
        {{ range . }}<p>{{ . | safeHTML }}</p>{{ end }}
    </div>
    {{- end }}
</footer>
